<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <div class="card">
        <div class="card-content">
          <span class="card-title"
            >Angular Google Maps Autocomplete Directive & Dynamic Map
            Styles</span
          >
          <mat-form-field>
            <input
              matInput
              #autoCompleteInput
              appGoogleMapsAutoComplete
              id="google_address_autocomplete"
              type="text"
              value=""
              (placeChanged)="addMarker($event)"
              placeholder="Add New Marker on Map"
            />
          </mat-form-field>
          <agm-map
            #googleMap
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [styles]="mapTypeStyles"
            [mapTypeId]="mapTypeId"
          >
            <agm-marker
              *ngFor="let marker of markerArray"
              [latitude]="marker.lat"
              [longitude]="marker.lng"
            >
              <agm-snazzy-info-window>
                <ng-template>
                  <table class="centered">
                    <thead>
                      <tr>
                        <th id="title" colspan="2">
                          {{ marker.place.name }}
                          <i
                            aria-hidden="true"
                            class="material-icons right"
                            (click)="deleteMarker(marker)"
                            >delete</i
                          >
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <i aria-hidden="true" class="material-icons">
                            phone
                          </i>
                          {{ marker.place.formatted_phone_number }}
                        </td>
                        <td>
                          <strong class="orange-text">
                            {{ marker.place.rating }} / 5
                          </strong>
                          Stars
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
        </div>
        <div class="card-action">
          <p class="description-text">
            <i aria-hidden="true" class="material-icons">error_outline</i>
            Type a location into the top input field and Select through the
            autocomplete to add a location into the map. Once Added, you can
            click on the marker to view the place details and delete a place. If
            you see any error on the map, please enter a Google Maps API Key,
            with Place AutoComplete Enabled in the environment files.
          </p>
        </div>
        <div class="card-action">
          <button
            mat-raised-button
            color="primary"
            *ngFor="let mapTypeId of mapTypeIds"
            (click)="setMapTypeId(mapTypeId)"
          >
            {{ mapTypeId }}
          </button>
        </div>
        <div class="card-action">
          <button
            mat-raised-button
            color="primary"
            *ngFor="let mapStyleName of mapStyleNames"
            (click)="setMapStyle(mapStyleName)"
          >
            {{ mapStyleName }}
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="displayErrorModal()"
          >
            Display Error Modal
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
